@model IEnumerable<PetShop.Model.Models.Adopter>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<p>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdopterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdopterAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdopterAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdopterPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceID)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AdopterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdopterAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdopterAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdopterPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceID)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-danger" asp-route-id="@item.AdopterID">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.AdopterID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>